<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <h1>User list works</h1>
      <button ng-click="$ctrl.loadDataUsers()">Load data Users</button>
    </div>
    <div class="col-md-10" ng-if="$ctrl.users && $ctrl.users.length > 0" ng-repeat="user in $ctrl.users">
      <p>User name: <b>{{ user.name }}</b></p>
      <p>User description: <i>{{ user.description }}</i></p>
      <p>Custom Input: <custom-input ng-model="$ctrl.lastName" /></p>
      <div id="container"></div>
    </div>
  </div>
</div>